body {
    text-align: center;
    background-color: #AAC7FF;
}

.preview_mode_alert {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20%;
    transform: translate(-50%, -50%);
    height:50px;
    width:150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #F9F9FF;
    margin-bottom: 100px;
}

.warn_text {
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
}

.main_text {
    padding-top:20px;
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub_text {
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
}

.card {
    height:450px;
    max-height:450px;
    width:400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #F9F9FF;
    overflow-y:auto;
}

.item_field {
    margin-top:10px;
}

.validate_button {
    margin-top:50%;
    margin-left:70%;
}

.resourcesList {
    width:100%;
}